{% extends '::base.html.twig' %}

{% block page_title %}Dokumentation{% endblock %}

{% block page_actions %}
<div class="pull-right">
    <form method="get" action="{{ path('whatwedo_doc_doc_search') }}">
        <div class="input-group input-group-sm" style="max-width: 300px">
            <input type="text" class="form-control" name="query" placeholder="Suchbegriff...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="row" id="whatwedo_doc">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    {{ document.title }}
                </h3>
            </div>
            <div class="box-body">
                {{ document.content | markdown('whatwedo_doc') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

